body{
    position: relative;
    padding-bottom: 10px;
    background-image: $primary_color;
    h2{
        text-align: center;
        padding: 30px + 15px;
        
    }
    h3{
        text-align: center;
        padding: 125px 65px;   
    
    }
    p{
        text-align: center;
        font-size: 5px + 10px;
        padding: 0 5px 0 5px;
        
    }
    ul{
        display: flex;
        justify-content: space-between;
        align-items: flex-end; 
        padding: 0 0 0 0 ;
    }
    div img{
        width: 300px;
        border-radius: 15px;
        
    }
    //CONTACT
    #payout{
        font-size: 35px;
        color: red;
    }

    //HOME
    #featuredProducts{
        text-align: center;
        padding: 25px 0 0 0;
       
    }

    //ABOUT US
    #aboutUs{
        font-size: 35px;
        padding: 25px;
    }
    
    p .about-us-text{
        font-size: 25px;
        text-align: left;
        margin: 15px;
        padding: 25px;
    }
    

    
}